{% load static %}

<div class="container col-md-7 d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img class="thumbnail" src="{% static 'image/high.png'%}" >
    </div>
    <div class="col-md-6">
      <div class="p-2">
        <p class="h3 fw-bold mb-3">Chatbot-Chantey</p>

        <p class="fs-6 fw-light my-3 p-1 text-justify">
          I am a chatbot. I am django plug and play project.
          <br />
          You can use me in your django project to reply your customers. You can
          get the step by step installation idea in the below github link.
        </p>
        <p class="fs-6 fw-light my-3 p-1 text-justify">
          I exist because of my creator <b>Mr. Bipin Prakash Dhakal</b>. Make
          sure to check him out.
        </p>
        <a
          class="btn btn-outline-danger btn-sm w-100 fs-6 my-2"
          href="https://github.com/bip-zip/Chantey-thechatbot"
          target="_blank"
          ><i class="fa fa-github fs-4 me-2" aria-hidden="true"></i> Project
          link</a
        >

        <hr class="mt-3" />

        <div class="d-flex justify-content-start align-items-center mb-2">
          <a
            href="https://www.facebook.com/ric.pen/"
            class="me-3"
            target="_blank"
          >
            <i class="fa fa-facebook-square fs-3"></i>
          </a>
          <a
            href="https://www.instagram.com/_iambill__/"
            class="me-3"
            target="_blank"
          >
            <i class="fa fa-instagram fs-3 text-danger"></i>
          </a>
          <a href="https://github.com/bip-zip" class="me-3" target="_blank">
            <i
              class="fa fa-github-square fs-3 text-dark"
              aria-hidden="true"
            ></i>
          </a>
          <a
            href="https://www.linkedin.com/in/bipin-dhakal-329335245/"
            class="me-3"
            target="_blank"
          >
            <i
              class="fa fa-linkedin-square fs-3 text-primary"
              aria-hidden="true"
            ></i>
          </a>
          <a href="https://twitter.com/Bipino44" class="me-3" target="_blank">
            <i
              class="fa fa-twitter-square fs-3 text-info"
              aria-hidden="true"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
